# Mattermost virtualhost
MATTERMOST_VIRTUAL_HOST=example.com
MATTERMOST_LETSENCRYPT_HOST=example.com
MATTERMOST_LETSENCRYPT_EMAIL=contact@example.com

# Mattermost app
MATTERMOST_APP_SITE_URL=https://example.com
MATTERMOST_APP_VOLUME_DATA=/var/lib/mattermost/data/
MATTERMOST_APP_VOLUME_LOG=/var/log/mattermost/
MATTERMOST_APP_SMTP_USERNAME=user
MATTERMOST_APP_SMTP_PASSWORD=password
MATTERMOST_APP_SMTP_SERVER=postfix
MATTERMOST_APP_SMTP_PORT=25
MATTERMOST_APP_FEEDBACK_NAME="No-Reply"
MATTERMOST_APP_FEEDBACK_EMAIL="noreply@example.com"
MATTERMOST_APP_REPLY_TO_ADDRESS="noreply@example.com"
MATTERMOST_APP_FEEDBACK_ORGANIZATION="Mattermost Prod"

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=mattermost
POSTGRES_VOLUME_DATA=/var/lib/mattermost/postgres/
POSTGRES_VOLUME_KEYS=./keys/

# wal-g backup
ENABLE_WALG=0
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
WALE_S3_PREFIX=
AWS_ENDPOINT=
AWS_REGION=
WALG_PGP_PUB_KEY_PATH=
WALG_PGP_SECRET_KEY_PATH=

# restic
ENABLE_RESTIC=0
RESTIC_AWS_ACCESS_KEY_ID=
RESTIC_AWS_SECRET_ACCESS_KEY=
RESTIC_AWS_REGION=
RESTIC_REPOSITORY=
RESTIC_PASSWORD=

# Postfix
ENABLE_POSTFIX=0
POSTFIX_DKIM_SELECTOR=chat