# Mattermost app
MATTERMOST_APP_SITE_URL=http://127.0.0.1:8080
MATTERMOST_APP_VOLUME_DATA=./volumes/mattermost/data/
MATTERMOST_APP_VOLUME_LOG=./volumes/mattemost/log/
MATTERMOST_APP_SMTP_USERNAME=user
MATTERMOST_APP_SMTP_PASSWORD=password
MATTERMOST_APP_SMTP_SERVER=mailhog
MATTERMOST_APP_SMTP_PORT=1025
MATTERMOST_APP_FEEDBACK_NAME="No-Reply"
MATTERMOST_APP_FEEDBACK_EMAIL="noreply@127.0.0.1"
MATTERMOST_APP_REPLY_TO_ADDRESS="noreply@127.0.0.1"
MATTERMOST_APP_FEEDBACK_ORGANIZATION="Mattermost Playground"

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mattermost
POSTGRES_VOLUME_DATA=./volumes/postgres/
POSTGRES_VOLUME_KEYS=./keys/

# wal-g backup
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
WALE_S3_PREFIX=
AWS_ENDPOINT=
AWS_REGION=
WALG_PGP_KEY_PATH=